.Container {
    background-color: #23272a;  
    display: flex;
    justify-content: flex-end;  
    position: relative;  
    font-size: 1.2rem;  
}

div.dropup .Button,
.Container .Button {
  background-color: #23272a !important; 
  padding: .3rem;
}
  
.Container .SearchButton {
  margin-left: 0.4rem ; 
}

.Container .SortButton {
  margin-left: 0.6rem;
}

.Container .Button:hover {
  background-color: #E6007E !important;
}
  
.Container .SearchButton {
  float: left;
  width: 20px;
  padding: 1px;
  background-color: #23272a;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
} 

.SearchInputText {
  background-color: #23272a !important;
  border: none;
}


/* input[type="text"]:focus */
.SearchInputText:focus {
  background-color: #E6007E !important;
  color: #fff ;
  border: none;
  outline: none;
  width: 100px;
}

::placeholder { 
  color: #fff !important;
  opacity: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;          
}

li {
    float: left;     
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;     
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 2.1rem;
    right: -4.5rem;
    background-color: #23272a; 
    color: #fff;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999999999999999990000000000000;     
}

.dropdown-content a {
    color: #fff;
    padding: .8rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.4rem;       
}

.dropdown-content a:hover {
  background-color: #E6007E;    
}

.dropdown:hover .dropdown-content {
    display: block;         
}

.dot, .dot:before, .dot:after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #34495e;
  }
  
  .dot {
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .dot:before, .dot:after {
    content: "";
  }
  
  .dot:before {
    right: 25px;
    transition: right .3s ease-out;
  }
  
  .dot:after {
    left: 25px;
    transition: left .3s ease-out;
  }
  
  .dots:hover .dot:before {
    right: -25px;
  }
  
  .dots:hover .dot:after {
    left: -25px;
  }