@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 0;
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(-10rem);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(10rem);
    }
}   
    
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeOutTop {
    0% {
        opacity: 0;
        transform: translateY(0rem);
    }

    100% {
        opacity: 1;
        transform: translateY(-10rem);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutBottom {
    0% {
        opacity: 0;
        transform: translateY(0rem);
    }

    100% {
        opacity: 1;
        transform: translateY(10rem);
    }
}

@keyframes fadeInListItem {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(2rem);
    }    

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes fadeInListItemBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    80% {
        transform: translateY(-2rem);
    }     

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
