// COLORS

// antraciet colors //#383E42 #31363a 323334
$color-primary:#fff;
// $color-primary-light: #7ed56f;
$color-primary-dark: #23272a; //
  
$color-secondary-dark:#2C2F33;
// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
$color-tertiary-dark:#323334; // #323334   

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

$color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-grey: #B8B8B8;    

$color-dark-pink:#E6007E;

// FONT
$default-font-family: 'Lato, Roboto, BlinkMacSystemFont, Ubuntu, sans-serif'; 
$default-font-size: 1.4rem;

// MenuBar
$menubar-height: 3rem;

// MenuToolbar
$menutoolbar-width: 7.5rem;
$menutoolbar-height: 4rem;
$menutoolbar-border-left: 3px solid $color-black;
$menutoolbar-border-right: 3px solid $color-black;
$menutoolbar-border-bottom: 1px solid $color-black;
$menutoolbar-border-top: 3px solid#30454b;

// TabPanel
$tabpanel-tabs-height: 3rem;
$tabpanel-tabs-border: 2px solid #30454b;
$tabpanel-main-border: 3px solid #30454b;


